th,
td {
	border-collapse: collapse;
	padding: 4px;
	border: 1px solid #a4a4a4;
}

th {
	background-color: #f2f2f2;
}

input {
	padding: 0 !important;
	border: solid 0px #000 !important;
	border-bottom: solid 1px #a4a4a4 !important;
}

@media not print {
	section {
		margin: 24px;
		padding: 40px;
		aspect-ratio: 8/11;
		width: 100%;
		max-height: 100vh;
	}
}

@media print {
	body {
		background-color: #fff !important;
		width: 21cm;
		height: 21cm;
	}
}
