@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	@apply dark:bg-gray-900;
}

@keyframes in {
	from {
		opacity: 0;
		scale: 0.9;
	}
}

@keyframes out {
	to {
		opacity: 0;
		scale: 1;
	}
}

:root::view-transition-old(root) {
	animation: 90ms cubic-bezier(0.4, 0, 1, 1) both out;
}

:root::view-transition-new(root) {
	animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both in;
}
