th,
td {
	@apply: border-collapse b b-neutral px-4px py-3px;
}

th {
	@apply: bg-#F2F2F2;
}

input {
	padding: 0 !important;
	border: solid 0px #000 !important;
	border-bottom: solid 1px #a4a4a4 !important;
}

@media not print {
	section {
		margin: 24px;
		padding: 40px;
	}
}

@media print {
	body {
		background-color: #fff !important;
		width: 21cm;
		height: 21cm;
	}
}
